<div class="container grid">
  <div class="grid__sync">
    <app-auth-button></app-auth-button>
    @if (authStore.isAuthenticated()) {
      <button class="btn--icon-only btn--admin ml-5" (click)="onSyncPage()">
        <span
          appSvgIcon
          [height]="'16px'"
          [width]="'16px'"
          [iconName]="'refresh'"
          class="d-flex"
          [color]="'var(--secondary-color)'"
        ></span>
      </button>
    }

  </div>
  <div class="media grid__media">
    <div class="logo" (click)="onGoHomePage()">
      <span
        appSvgIcon
        [height]="'100%'"
        [width]="'200px'"
        [iconName]="'logo'"
        class="d-flex"
      ></span>
    </div>
  </div>
  <div class="grid__corner">
    <div class="grid__corner-background">
    </div>
  </div> 
</div>