@let mmonthActivitiesLoading = weekStore.monthActivitiesLoading();

@if(mmonthActivitiesLoading) {
  <app-cycle-loader></app-cycle-loader>
} @else {
  <div class="content">  
    <div class="block block--first">
      <div class="subtitle">
        <div class="title font-700">
          {{ months[monthIndex()] }} {{year()}}
        </div>
      </div>
      <div class="calendar">
        <div class="week">
          <div class="day day-header font-600">Lun.</div>
          <div class="day day-header font-600">Mar.</div>
          <div class="day day-header font-600">Mer.</div>
          <div class="day day-header font-600">Jeu.</div>
          <div class="day day-header font-600">Ven.</div>
          <div class="day day-header font-600">Sam.</div>
          <div class="day day-header font-600">Dim.</div>
        </div>
      
        @for (week of calendar(); track $index) {
          <div class="week">
            @for (day of week; track day) {
              <div
                class="day"
                [class.outside]="day.getMonth() !== monthIndex()"
                (click)="onDayClick(day)"
              >
                <div [class.has-activity]="getActivitiesCount(day) > 0">
  
                  <span class="day-number">{{ day.getDate() }}</span>
                  @if (getActivitiesCount(day) > 1) {
                    <span class="multi-activity-badge">{{ getActivitiesCount(day)}}</span>
                  }
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>
  
  @if (showModal()) {
    <div class="modal-overlay" (click)="closeModal()">
      <div class="modal-content d-flex flex-direction-column gap-20" (click)="$event.stopPropagation()">
        <div class="modal-header">
          <h2 class="subtitle">Activités</h2>
          <button class="close-btn btn--icon-only" (click)="closeModal()">
            <span
              appSvgIcon
              [height]="'10px'"
              [width]="'10px'"
              [iconName]="'close'"
              [color]="'var(--secondary-color)'"
              class="d-flex padding-10"
            >
            </span>
          </button>
        </div>
        <div class="modal-body d-flex flex-direction-column gap-20">
          @for (activity of modalActivities(); track activity.id) {
            <div class="activity-item d-flex flex-direction-column gap-10" (click)="onActivitySelect(activity.id)">
              <div class="activity-name d-flex gap-5 align-items-center justify-content-center">
                <span class="font-700 font-size-14">{{ activity.name }}</span>  <div>&nbsp;·&nbsp;</div> <span class="font-400 font-size-12">{{ activity.start_date | safeDate }}</span>
              </div>
              <div class="activity-distance d-flex gap-5 align-items-center justify-content-center">
                <span class="activity-result font-400 font-size-12">{{ activity.distance | km }} km </span> <div>&nbsp;·&nbsp;</div>
                <span class="activity-result font-400 font-size-12">{{ activity.total_elevation_gain }} m </span> <div>&nbsp;·&nbsp;</div>
                <span class="activity-result font-400 font-size-12">{{ activity.moving_time | minutesToTime }}</span>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }
}