.subtitle {
  background: color-mix(in srgb, var(--primary-color) 40%, white);
  padding: 6px;
  width: fit-content;
  corner-shape: squircle;
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-medium);
  align-self: center;
  font-weight: bold;
  font-size: 20px;
  text-box-trim: trim-both;

  &--active {
    background: var(--secondary-color);
    color: var(--white-color);
  }
}
