.btn {
  &--icon-only {
    fill: var(--primary-color);
    padding: 5px;
    border-radius: 50%;
    background: color-mix(in srgb, var(--primary-color) 40%, white);
  }

  &--admin.btn--icon-only {
    border-radius: 4px;
    width: 28px;
    height: 28px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

}