.kpi {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &--column {
    flex-direction: column;
    flex: 1;
  }

  &__item {
    display: flex;
    background: color-mix(in srgb, var(--fourth-color) 20%, white);
    padding: 5px;
    border-radius: 6px;
    margin-top: auto;
    justify-content: center;
    width: 100%;

    &:first-child {
      margin-top: initial;
    }

    .kpi--column & {
      padding: 20px;
    }
  }
}