.svg-icon {
  &--secondary-color {
    fill: var(--secondary-color);
  }

  &--color {
    fill: color-mix(in srgb, var(--primary-color) 80%, #000);
  }

  &--primary-color {
    fill: var(--primary-color);
  }

  &--shadow-light {
    fill: #4e2d2314;
  }
}

.svg-icon--mountain {
  fill: var(--primary-color);
  width: 20px;
  height: 20px;
}