@let activity = activityStore.activity();

<div class="content">
  <div class="block block--first">
    <div class="header">
      <div class="infos mb-5">
        <div>{{ activity?.start_date | safeDate }}</div>
        <div>&nbsp;·&nbsp;</div>
        <div>{{ activity?.device_name }}</div>
      </div>
      <div class="subtitle font-700">
        {{ activity?.name }}
      </div>
    </div>

    @if(mainActivity().rows.length > 0) {    
      <app-global-result
        [block]="mainActivity()"
      ></app-global-result>
    }

    <div class="map-container">
      <app-activity-map [polyline]="activity?.map?.polyline ? activity?.map?.polyline : activity?.map?.summary_polyline"></app-activity-map>
    </div>

   <div class="grid-infos">
    <div class="grid-infos__column">
      <div class="grid-infos__label">&nbsp;</div>
      <div class="grid-infos__label">Vitesse</div>
      <div class="grid-infos__label">Calories</div>
      <div class="grid-infos__label">Temps écoulé</div>
      <div class="grid-infos__label">Cadence</div>
      <div class="grid-infos__label">Watts</div>
    </div>
    <div class="grid-infos__column">
      <div class="grid-infos__label">Moy.</div>
      <div class="grid-infos__label">{{ activity?.average_speed! | speed }} <span class="label-small font-size-11 font-300">km/h</span></div>
      <div class="grid-infos__label">{{ activity?.calories }}</div>
      <div class="grid-infos__label">{{ activity?.elapsed_time! | minutesToTime }}</div>
      <div class="grid-infos__label">{{ activity?.average_cadence }}</div>
      <div class="grid-infos__label">{{ activity?.average_watts }}</div>
    </div>
     <div class="grid-infos__column">
      <div class="grid-infos__label">Max.</div>
      <div class="grid-infos__label">{{ activity?.max_speed! | speed }} <span class="label-small font-size-11 font-300">km/h</span></div>
      <div class="grid-infos__label"></div>
      <div class="grid-infos__label"></div>
      <div class="grid-infos__label"></div>
      <div class="grid-infos__label">{{ activity?.max_watts }}</div>
    </div>
   </div>
</div>

<!-- <pre>{{ activity | json }} </pre> -->