.footer {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: var(--spacing-unit);
}

.list-years {
  display: flex;
  gap:10px;
  flex-wrap: wrap;
  padding-left : 20px;
  justify-content: center;
}

.year {
  background: var(--secondary-color);
  padding-bottom: 0;
  border-radius: calc(var(--border-radius) / 3);
  color: var(--white-color);
 
  display: flex;
  min-width: 70px;
  min-height:150px;
  padding-inline: 5px;
  padding-top: 10px;
  cursor: pointer;
}

.label {
  text-box: trim-both cap alphabetic; 
  align-self: flex-end;
  font-size: 48px;
}