@if (authStore.isAuthenticated()) {
  <div class="d-flex gap-5 align-items-center">
    <button 
      class="button button--logout btn--admin btn--icon-only"
      (click)="signOut()">
      <span
        [color]="'var(--secondary-color)'"
        [height]="'14px'"
        [iconName]="'close'"
        [width]="'14px'"
        class="d-flex"
        appSvgIcon
      ></span>
    </button>

    @if (authStore.getUserPhotoURL()) {
      <img class="profile-img" [src]="authStore.getUserPhotoURL()!" alt="Profile" />
    }
    
  </div>
} @else {
  <button class="button btn--admin btn--icon-only" (click)="signInWithGoogle()">
    <span
      [color]="'var(--secondary-color)'"
      [height]="'18px'"
      [iconName]="'user'"
      [width]="'18px'"
      class="d-flex"
      appSvgIcon
    ></span>
  </button>
}
