@let latestActivity = homeStore.latestActivity();
@let latestActivityLoading = homeStore.latestActivityLoading();
@let currentMonthActivitiesLoading = homeStore.currentMonthActivitiesLoading();
@let currentYearActivitiesLoading = homeStore.currentYearActivitiesLoading();
@let globalActivitiesLoading = homeStore.globalActivitiesLoading();
@let currentMonthActivities = homeStore.currentMonthActivities();


<div class="content">
  <div class="block block--first" (click)="onOpenWeekPage(currentMonth, currentYear)">
    <div class="subtitle font-700 subtitle--active">
      {{ months[currentMonth] }} {{ currentYear }}
    </div>
    @if(currentMonthActivitiesLoading) {
      <app-cycle-loader></app-cycle-loader>
    } @else {
      <app-month-result
        [results]="currentMonthActivities"
      ></app-month-result>
    }
  </div>
  
  <div class="block block--link" (click)="onOpenActivityPage(latestActivity?.id)">
    <div class="subtitle font-700 subtitle--active">
      Dernière activité
    </div>

    @if(latestActivityLoading) {
      <app-cycle-loader></app-cycle-loader>
    } @else {
      <h3>{{ latestActivity?.name }}</h3>
      <div class="infos font-300">
        <div>{{ latestActivity?.start_date | safeDate }}</div>
        <div>&nbsp;·&nbsp;</div>
        <div>{{ latestActivity?.device_name }}</div>
        <div>&nbsp;·&nbsp;</div>
        <div>{{ latestActivity?.main_area }}</div>
      </div>
  
      @if(lastActivity().length > 0) {         
        <app-global-result
          [criteria]="lastActivity()"
        ></app-global-result>
      }  
      <div class="map-container">
        <app-activity-map [polyline]="latestActivity?.polyline"></app-activity-map>
      </div>
    }
  </div>
  <div class="block" (click)="onOpenMonthPage()">
    <div class="subtitle font-700 subtitle--active">
      Statistiques  {{ currentYear }}
    </div>
    @if(currentYearActivitiesLoading) {
      <app-cycle-loader></app-cycle-loader>
    } @else {
      @if(statsCurrentYear().length > 0) {         
        <app-global-result
          [criteria]="statsCurrentYear()"
          [isStatsGlobales]="true"
        ></app-global-result>
      }
    }
  </div>
  <div class="block">
    <div class="subtitle font-700">
      Statistiques globales
    </div>
      @if(globalActivitiesLoading) {
        <app-cycle-loader></app-cycle-loader>
      } @else {
        @if(statsGlobales().length > 0) {         
          <app-global-result
            [criteria]="statsGlobales()"
            [isStatsGlobales]="true"
          ></app-global-result>
        }
      }
  </div>
</div>

<!-- <pre>currentMonthActivitiesLoading => {{ currentMonthActivities | json }}</pre>
<pre>currentYearTotals => {{ currentYearTotals | json }}</pre>
<pre>currentYearActivities => {{ currentYearActivities | json }}</pre>
<pre>lastActivity => {{ latestActivity | json }}</pre> -->
