@let currentMonthActivities = homeStore.currentMonthActivities();
@let currentYearTotals = homeStore.currentYearTotals();
@let currentYearActivities = homeStore.currentYearActivities();
@let latestActivity = homeStore.latestActivity();
@let latestActivityLoading = homeStore.latestActivityLoading();

<div class="content">
  <div class="block block--first" (click)="onOpenWeekPage(currentMonth, currentYear)">
    <div class="subtitle font-700 subtitle--month">
      {{ months[currentMonth] }} {{ currentYear }}
    </div>
    <app-global-result
      [block]="statsMonth()"
    ></app-global-result>
  </div>
  @if(latestActivityLoading) {
    <app-cycle-loader></app-cycle-loader>
  }@else {
    <div class="block block--link" (click)="onOpenActivityPage(latestActivity?.id)">
      <div class="subtitle font-700 subtitle--activity">
        Dernière activité
      </div>
      <h3>{{ latestActivity?.name }}</h3>
      <div class="infos">
        <div>{{ latestActivity?.start_date | safeDate }}</div>
        <div>&nbsp;·&nbsp;</div>
        <div>{{ latestActivity?.device_name }}</div>
        <div>&nbsp;·&nbsp;</div>
        <div>Ile de France</div>
      </div>
  
      @if(lastActivity().length > 0) {         
        <app-global-result
          [criteria]="lastActivity()"
        ></app-global-result>
      }
  
      <div class="map-container">
        <img src="/assets/img/map-strava.png" alt="map" width="100%" height="100%">
      </div>
    </div>
  }
  <div class="block" (click)="onOpenMonthPage()">
    <div class="subtitle font-700 subtitle--month">
      Statistiques  {{ currentYear }}
    </div>
    @if(statsCurrentYear().length > 0) {         
      <app-global-result
        [criteria]="statsCurrentYear()"
        [isStatsGlobales]="true"
      ></app-global-result>
    }
  </div>
  <div class="block">
    <div class="subtitle font-700">
      Statistiques globales
    </div>
      @if(statsGlobales().length > 0) {         
        <app-global-result
          [criteria]="statsGlobales()"
          [isStatsGlobales]="true"
        ></app-global-result>
      }
  </div>
</div>

<!-- <pre>currentMonthActivitiesLoading => {{ currentMonthActivities | json }}</pre>
<pre>currentYearTotals => {{ currentYearTotals | json }}</pre>
<pre>currentYearActivities => {{ currentYearActivities | json }}</pre>
<pre>lastActivity => {{ latestActivity | json }}</pre> -->
